// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  text-decoration: none;
  color: #4FA2EF;
}

body {
  color: #21252A;
  font-family:'Roboto Slab';
}

.container {
  font-family:'Roboto Slab';
  margin: auto;
}
